.form {
    padding: 32px;
    background: #F0F3F7;
    border-radius: 12px;
}

.formFields {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.formGroup {
    display: flex;
    flex-direction: column;
}

.formGroup label {
    margin: 0;
    text-transform: capitalize;
}

.formInput input {
    background-color: #FCFCFC;
    border: 1px solid #ABC6D8;
    border-radius: 8px;
}

.formInput label {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #203645;
}

.legend {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #203645;
}

.btnContainer {
    display: flex;
    gap: .5em;
}

.formSwitch {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.formSection {
    background-color: #F0F3F7;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 20px;
    border-radius: 8px;
}

.formSectionDivider {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.OCID {
    display: flex;
    align-items: flex-end;
}

.OCID > div {
    width: 100%;
}

/* .error {
    color: #dc3545;
    font-size: .9rem;
} */