.form {
    padding: 32px;
    background: #F0F3F7;
    border-radius: 12px;
}

.formFields {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.formInput input {
    background-color: #FCFCFC;
    border: 1px solid #ABC6D8;
    border-radius: 8px;
}

.formInput label {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #203645;
}

.legend {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #203645;
}

.btnContainer {
    display: flex;
    gap: .5em;
}

.formSwitch {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.content {
    font-size: .85em;
    color: #333;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    gap: .25em;
}

.listContainer {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 0;
    margin-top: 1em;
}

.heading {
    font-size: 1em;
    font-weight: 700;
}

.list {
  list-style: none;  
  display: flex;
  gap: 1em;
}

.icon {
    width: 30px;
    background-repeat: no-repeat;
    height: 30px;
    background-size: contain;
}