.pageHeader {
    display: flex;
    justify-content: space-between;
}

.headingText {
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    color: #203645;
}

.btn a {
    color: #fcfcfc !important;
}