.form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.form .formContainer {
    width: 100%;
}

.formSection {
    background-color: #F0F3F7;
    display: flex;
    flex-direction: column;
    gap: .8rem;
    padding: 20px;
    border-radius: 8px;
}

.formGroup {
    display: flex;
    flex-direction: column;
    margin-right: 1em;
}

.formGroup label {
    text-transform: capitalize;
}



.leftside {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
