._0 {
    background-image: url('../public/icons/0-circle-fill.svg');
}
._1 {
    background-image: url('../public/icons/1-circle-fill.svg');
}
._2 {
    background-image: url('../public/icons/2-circle-fill.svg');
}
._3 {
    background-image: url('../public/icons/3-circle-fill.svg');
}
._4 {
    background-image: url('../public/icons/4-circle-fill.svg');
}
._5 {
    background-image: url('../public/icons/5-circle-fill.svg');
}
._6 {
    background-image: url('../public/icons/6-circle-fill.svg');
}
._7 {
    background-image: url('../public/icons/7-circle-fill.svg');
}
._8 {
    background-image: url('../public/icons/8-circle-fill.svg');
}
._9 {
    background-image: url('../public/icons/9-circle-fill.svg');
}

.iconContainer {
    display: flex;
    gap: .5em;
    justify-content: center;
}